.navbar {
  text-align: center;
  padding: 15px;
  ul {
    display: flex;
    justify-content: space-evenly !important;
    align-items: center;
    margin-bottom: 0px;
    margin-left: 0px;
  }

  li {
    list-style: none;

    .home {
      text-decoration: none;
      &:hover {
        color: red;
      }
    }
  }
}
